
@model User
@{
    ViewData["Title"] = "Home Page";
}
<h1>Register</h1>
<a asp-action="SignIn" asp-controller="Home" class="btn btn-warning">SignIn</a>
<div asp-validation-summary="All" class="text-danger"></div>
<form asp-action="Register" asp-controller="Home" method="post">
    <label asp-for="FirstName"></label>
    <input asp-for="FirstName"><br>
    <label asp-for="LastName"></label>
    <input asp-for="LastName"><br>
    <label asp-for="Email"></label>
    <input asp-for="Email"><br>
    <label asp-for="Password"></label>
    <input asp-for="Password"><br>
    <label asp-for="ComparePassword"></label>
    <input asp-for="ComparePassword"><br>
    <input type="submit" value="Register" class="btn btn-danger"> 
</form>